@model PageTopicViewModel

<html>
  <head>
    <meta charset="UTF-8">
    <title>@(Model.MetaTitle?? Model.Title?? Model.Key)</title>
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
    @RenderSection("Head", false)
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">

    <!-- Main Site Content Area -->
    <main id="MainContentArea" class="page content" role="main">

      <article itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" class="grid-container">
        <h1>@(Model.ContentType == "PageGroup"? "Overview" : Model.Title)</h1>
        <p class="subtitle">@Model.Subtitle</p>
        <section class="body">
          @RenderBody()
        </section>
      </article>
    </main>
    <!-- /Main Site Content Area -->

    @RenderSection("Scripts", false)

  </body>
</html>